[submodule "USERS/users_submodule"]
	path = USERS/users_submodule
	url = https://github.com/ruziba3vich/users_submodule.git
[submodule "GATEWAY/submodules/users_submodule"]
	path = GATEWAY/submodules/users_submodule
	url = https://github.com/ruziba3vich/users_submodule.git
[submodule "DEVICES/devices_submodule"]
	path = DEVICES/devices_submodule
	url = https://github.com/ruziba3vich/devices_submodule.git
[submodule "USERS/devices_submodule"]
	path = USERS/devices_submodule
	url = https://github.com/ruziba3vich/devices_submodule.git
[submodule "GATEWAY/devices_submodule"]
	path = GATEWAY/devices_submodule
	url = https://github.com/ruziba3vich/devices_submodule.git
[submodule "CONTROL/controller_submodule"]
	path = CONTROL/controller_submodule
	url = https://github.com/ruziba3vich/controller_submodule.git
